.course-goal h1{
    text-align: center;
}
.goal-list{
    list-style: none;
    margin: 2rem;
    padding: 0;
}
.goal-list li{
    background-color: blueviolet;
    text-align: center;
    margin: 1rem 0;
    border: 1px solid #ccc;
}